body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 90px;
  height: 105px;
}

img {
  width: 100%;
  height: 100%-15px;
}

.container img:hover {
  padding-top: -2px;
  transform: scale(1.015);
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.68rem;
  color: #666666;
  text-shadow: 0 0 3px lightblue;
}

.outer_container {
  display: flex;
  width: 645px;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.super_outer_container {
  max-height: 99vh;
  width: min(100vw, 660px);
  overflow: auto;
  display: flex;
  justify-content: center;
}

dialog {
  width: 280px;
  height: 480px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 20px lightblue;
  padding: 15px 5px;
}

dialog img {
  display: block;
  width: 260px;
  height: 260px;
}

dialog div {
  position: relative;
  background-color: #ffffff;
}

#dialog_img_label {
  color: #666666;
  margin-top: 4px;
  margin-bottom: 7px;
  text-shadow: 0 0 5px lightblue;
  font-weight: 500;
  font-size: 0.8rem;
}

.dialog_div_div {
  color: #666666;
  font-size: 0.9rem;
  position: absolute;
  left: 10px;
}

.container:hover {
  cursor: grab;
}

@media (max-width: 1280px) {
  .last_1 {
    height: 125px;
  }
}

@media (max-width: 960px) {
  dialog {
    width: 240px;
    height: 400px;
  }

  dialog img {
    width: 220px;
    height: 220px;
  }

  dialog div div {
    font-size: 0.75rem;
  }  
}

@media (max-width: 640px) {
  .outer_container {
    width: 320px;
    gap: 25px;
    padding-top: 6vh;
  }

  .last_1 {
    height: 180px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 110px;
    height: 125px;
  }

  .last_2 {
    height: 180px;
  }

  .outer_container {
    width: 250px;
    gap: 30px;
  }
}

